/* CSS declarations go here */
.Theme {
  background-color: white;

}

.AjmTheater {

  position: absolute;
  top: auto;
  right: 400px;
  width: 450px;
  height: 200px;
  align-items: center;
    padding: 80px;
}

.footer {
  position: absolute;
    bottom: 0;
}

.MainBox {

    width: 300px;
    border: 25px black;
    padding: 25px;
    margin: 25px;
}

.boxed {
    float: left;
    width: 30px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.reserved {
    background: red;
    text-align: center;
}

.blue {
    /*background: lightblue;*/
    /*text-align: center;*/

    border-color: blue ;
    text-align: center;

}

.normal {
    background: lightblue ;
    text-align: center;
}
.gold {
    border-color: gold ;
    text-align: center;


}

.silver {
    border-color: silver ;
    text-align: center;

}
.vip {
    border-color: brown ;
    text-align: center;

}

.theater  {
    width:300px;
    height:30px;
    border:1px ;
    text-align: center;
    solid : #000;
    background: burlywood;


}

.counter {

    background: #aaa;
    color:white;
}

.reservedby {
    /*background: cadetblue;*/
    /*color:black;*/
    /*font-style: oblique;*/
    /*width:  400px;*/
    /*position: fixed;*/
    text-align: end;


}

.Main {

    width: 300px;;
}

.selected {

    background: gray;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;


}

.center {
    margin: auto;
    width: 80%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.right {
    position: absolute;
    left: 0px;
    width: 400px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.formstyle {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}



.stage {
    width: 700px;
    height: 100px;
    /*margin-left: 10%;*/
    margin-right: 70%;
    background: bisque;
     border: solid brown;
    position: absolute;
    text-align: center;

}

.stage.h1 {
    width: 40%;
    margin: 100px auto 35px auto;
}


.formseat {

    text-align: end;
}
