/* CSS declarations go here */
.MainBox {

    width: 300px;
    border: 25px black;
    padding: 25px;
    margin: 25px;
}

.boxed {
    float: left;
    width: 30px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.reserved {
    background: silver;
    text-align: center;
}

.blue {
    background: lightblue;
    text-align: center;
}

.wine {
    background: #ae163e;
    text-align: center;
}
.gold {
    background: gold;
    text-align: center;
}

.theater  {
    width:300px;
    height:30px;
    border:1px ;
    text-align: center;
    solid : #000;
    background: burlywood;


}

.counter {

    background: #aaa;
    color:white;
}

.reservedby {
    background: papayawhip;
    color:black;
    font-style: oblique;

}

.Main {

    width: 300px;;
}

.selected {
    background: papayawhip ;
}

.center {
    margin: auto;
    width: 80%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.right {
    position: absolute;
    left: 0px;
    width: 400px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.formstyle {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}